<div style="height: calc(100% - 64px) !important;">

  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <div class="w-100" fxLayout="row" fxLayoutAlign="space-between center" >
        <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
          <mat-icon>menu</mat-icon>
        </button>
        <span>Dashboard</span>

        <span class="menu-spacer"></span>
        <div fxShow="true" fxHide.lt-md>
          <a  (click)="logout()" mat-button>Logout</a>
        </div>
      </div>


    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a (click)="sidenav.toggle()" mat-list-item>Close</a>
        <a (click)="logout()" mat-list-item>Logout</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
    <div class="card p-5" >
      <div class="card-header card-header-warning">
        <h4 class="card-title">Usuários Cadastrados</h4>
      </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">


      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>


      <ng-container matColumnDef="cpf">
        <th mat-header-cell *matHeaderCellDef> CPF </th>
        <td mat-cell *matCellDef="let element"> {{element.cpf}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
      </div>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

